/*
	This file is styling *just* for the pattern library itself. Your actual styles
	will live in the patterns folder.
*/

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.navigation {
	h1 {
		color: DimGray;
		font-size: 3em;
	}
}

// this style is just to 
.codeblock {
	.CodeRay {
		display: none;
	}

	&:before {
		content: 'click to show code';

		display: block;
		padding: 10px;

		text-align: center;
	}

	&.revealed {
		.CodeRay {
			display: block;
		}

		&:before {
			content: 'click to hide code';
		}
	}
}

h3 {
	border-bottom: 1px solid whitesmoke;
}

iframe.pattern {
	width: 100%;

	border: 0;
}
